/* assets/style.css */

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #cccbcb;
}

.Header {
    background-color: #222222;
    height: 250px;
    padding: 16px 0 0 0;
    color: white;
}

.header-title {
    color: #c58820;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    font-size: 1.2em;
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.dropdown-label {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 50px;
}

.dropdown {
    margin-bottom: 5px; 
}

.graph {
    margin-top: 5px; 
    margin-bottom: 30px; 
    width: 100%;
}

.graph-container {
    min-width: 300px; 
}
